<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Explore </title>
<link href="_css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
<header id="mainHeader">
  <h1><span>Ruby On Rails</span> Trail Guide</h1>
    <h2>your complete source</h2>
    <nav id="mainNav">
    <ul id="siteNav">
      <li><a href="#">Information links</a></li>
      <li><a href="#">New trends</a></li>
      <li><a href="#">Gems</a></li>
      <li><a href="#">Plugins</a></li>
      
    </ul>
  </nav>
</header>
  <section id="trailInfo">
  	<p><a href="#">All Trails</a> > <a href="#">try</a></p>
      <h1>xxxxx</h1>
      <article>
<h1>xxxxxx</h1>
   <!-- <table id="quickFacts" cellspacing="0">
    <caption>info<span>date</span></caption>
      <tr>
        <th>trail status:</th>
        <td><span class="open">all trails open</span></td>
      </tr>
      <tr class="alt">
        <th>trail type:</th>
        <td>single track</td>
      </tr>
      <tr>
        <th>elevation:</th>
        <td>2000 ft</td>
      </tr>
      <tr class="alt">
        <th>length:</th>
        <td>14.5 miles</td>
      </tr>
      <tr>
        <th>skill level:</th>
        <td>beginner to intermediate</td>
      </tr>
    </table>
    <p></p>
    <p></p>
    <h2>Skill level</h2>
    <p></p>
    <p></p>
    <h2>technologies</h2> -->
    
</article>
  </section>
  <aside id="trailNews">
    <h1>Trail News</h1>
    <section class="news">
    <h2>promotional video</h2>
    <img src="_images/image.png" />
    <p>video</p>
    </section>
    <article class="news">
        <h1>Reviews</h1>
        <h2>xxxxx</h2>
         <h3>yyyyy</h3>
          <p class="pubdate"> <time datetime="2012-02-10" pubdate>05/28/12</time></p>     
     
     
    </article>
  </aside>
  <footer id="pageFooter">
  <p>blog</p>
  <p><a href="#">app</a> | <a href="#">privacy</a> </p>
  </footer>
</div>
</body>
</html